@model StudentUpdateViewModel
@{
    ViewData["Title"] = "Update";
}

<h1>Student Update</h1>


<form asp-action="Update" method="post" role="form">
    <input type="hidden" asp-for="Id" />

    <partial model="@Model" name="_StudentDetails"/>
    
    <div class="form-group">
        <div class="col-md-7">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a asp-action="Index" class="col-md-2">Back to List</a>
        </div>
    </div>
</form>


