
@{
    ViewData["Title"] = "Login";
    var returnUrl = ViewData["returnUrl"];
}

<h1>Login</h1>
<form action="/Home/Login" method="post">
    <p>Login:<input type="text" name="username"> </p>
    <p>Password: <input type="text" name="password"></p>
    <input type="hidden" name="returnurl" value="@returnUrl">
    <p><input type="submit" /></p>
</form>

