
@{
    ViewData["Title"] = "Secret";
    bool loginFailed = ViewBag.LoginFailed ?? false;
    var returnUrl = ViewBag.ReturnUrl ?? string.Empty;
}

<h1>Secret</h1>

<p>This is a secret page</p>

@section Scripts
{
    <script>
        init("@loginFailed", "@returnUrl");
    </script>
}
